.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/kerberos
!node_modules/kerberos/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.vsix
**/*.msg
**/*.msg#
.git/**
.github/**
.env
*.vsix
*.msg
*.msg#
dist/*.map
